src/wsdl/localhost_8080/wsintegra/LoteExamesXmlReceiver.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wservice.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wservice.com.br/" name="LoteExamesXmlReceiver">
<types>
<xsd:schema>
<xsd:import namespace="http://wservice.com.br/" schemaLocation="http://localhost:8080/wsintegra/LoteExamesXmlReceiver?xsd=1"/>
</xsd:schema>
</types>
<message name="setRb">
<part name="parameters" element="tns:setRb"/>
</message>
<message name="setRbResponse">
<part name="parameters" element="tns:setRbResponse"/>
</message>
<message name="recebeLote">
<part name="parameters" element="tns:recebeLote"/>
</message>
<message name="recebeLoteResponse">
<part name="parameters" element="tns:recebeLoteResponse"/>
</message>
<message name="solicitacaoExames">
<part name="parameters" element="tns:solicitacaoExames"/>
</message>
<message name="solicitacaoExamesResponse">
<part name="parameters" element="tns:solicitacaoExamesResponse"/>
</message>
<message name="solicitacaoExameMV">
<part name="parameters" element="tns:solicitacaoExameMV"/>
</message>
<message name="solicitacaoExameMVResponse">
<part name="parameters" element="tns:solicitacaoExameMVResponse"/>
</message>
<portType name="LoteExamesXmlReceiver">
<operation name="setRb">
<input wsam:Action="http://wservice.com.br/LoteExamesXmlReceiver/setRbRequest" message="tns:setRb"/>
<output wsam:Action="http://wservice.com.br/LoteExamesXmlReceiver/setRbResponse" message="tns:setRbResponse"/>
</operation>
<operation name="recebeLote">
<input wsam:Action="http://wservice.com.br/LoteExamesXmlReceiver/recebeLoteRequest" message="tns:recebeLote"/>
<output wsam:Action="http://wservice.com.br/LoteExamesXmlReceiver/recebeLoteResponse" message="tns:recebeLoteResponse"/>
</operation>
<operation name="solicitacaoExames">
<input wsam:Action="http://wservice.com.br/LoteExamesXmlReceiver/solicitacaoExamesRequest" message="tns:solicitacaoExames"/>
<output wsam:Action="http://wservice.com.br/LoteExamesXmlReceiver/solicitacaoExamesResponse" message="tns:solicitacaoExamesResponse"/>
</operation>
<operation name="solicitacaoExameMV">
<input wsam:Action="http://wservice.com.br/LoteExamesXmlReceiver/solicitacaoExameMVRequest" message="tns:solicitacaoExameMV"/>
<output wsam:Action="http://wservice.com.br/LoteExamesXmlReceiver/solicitacaoExameMVResponse" message="tns:solicitacaoExameMVResponse"/>
</operation>
</portType>
<binding name="LoteExamesXmlReceiverPortBinding" type="tns:LoteExamesXmlReceiver">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setRb">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recebeLote">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitacaoExames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="solicitacaoExameMV">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="LoteExamesXmlReceiver">
<port name="LoteExamesXmlReceiverPort" binding="tns:LoteExamesXmlReceiverPortBinding">
<soap:address location="http://localhost:8080/wsintegra/LoteExamesXmlReceiver"/>
</port>
</service>
</definitions>